
<div class="image-overlay">
  <img class="main_image" src="./../../../../assets/Brdina_gasilska.jpg" alt="Your Image" />
  <div class="overlay-text bg-text">
    <h1>Smučaj z Brdino!</h1>
    <button routerLink="/tecaji" type="button" class="btn btn-primary btn-lg odmik">Tečaji</button>
    <button routerLink="/tekmovalna" type="button" class="btn btn-primary btn-lg odmik">Tekmovalna ekipa</button>
  </div>
</div>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
<div class="row justify-content-center" style="--bs-gutter-x: 0rem">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="card odmik">
      <img routerLink="/tecaji" class="card-img-top" src="./../../../../assets/brdina_tecaji.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tečaji</h5>
        <p class="card-text">Smučarksi klub Brdina organizira v sodelovanju s SPDG smučarske tečaje za otroke stare
          najmanj tri leta. Cilj smučarskih tečaj je smučanje v varnem okolju, zabava in igra. Brdina ponuja paket pet
          sobot ali pet nedelj. Tečaji se odvijajo na smučarskem področju Forni di Sopra.</p>
        <button routerLink="/tecaji" type="button" class="btn btn-primary btn-lg odmik">Odpri</button>

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="card odmik">
      <img routerLink="/tekmovalna" class="card-img-top" src="./../../../../assets/superbaby.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tekmovalna dejavnost</h5>
        <p class="card-text">Tekmovalna dejavnost smučarskega društva Brdina je namenjena otrokom od 5 do 16 let.
          Tekmovalne ekipe so tri: Ekipa superbaby, Ekipa baby/miški in Ekipa Soft.</p>
        <button routerLink="/tekmovalna" type="button" class="btn btn-primary btn-lg odmik">Odpri</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="card odmik">
      <img routerLink="/dejavnosti" class="card-img-top" src="./../../../../assets/kraska_ohcet.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ostale dejavnosti</h5>
        <p class="card-text">Smučarski klub Brdina ni prisoten le na snegu ampak tudi v matičnem teritoriju. Vsako
          leto organiziramo kioske, izlete in veliko več za naše člane.</p>
        <button routerLink="/dejavnosti" type="button" class="btn btn-primary btn-lg odmik">Odpri</button>
      </div>
    </div>
  </div>


</div>
</div>