<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-10 p-lg-10 mx-auto my-10">
            <h1 class="display-4 font-weight-normal">Ostale Dejavnosti</h1>
            <p class="lead font-weight-normal">Smučarski klub Brdina ni prisoten le na snegu ampak tudi v matičnem teritoriju. Vsako leto organiziramo 
                kioske, izlete in veliko več za naše člane.
            </p>
        </div>


        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="./../../../../assets/pust.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Kraški pust</h5>
                        <p class="card-text">Že nešteto let organiziramo kiosk za kraški pust.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="./../../../../assets/kraska_ohcet.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Kraška Ohcet</h5>
                        <p class="card-text">Ob vsaki izvedbi kraške ohceti organiziramo kiosk v Repnu, ki je odprt čez celo izvajanje Kraške Ohceti. Naše goste postrežimo s bogato ponudbo kraških tradicionalih pijač in jedač.</p>
                        <a href="https://brdina.live/"
                            class="btn btn-primary">Odpri Menu</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="./../../../../assets/barkolana.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Barkolana</h5>
                        <p class="card-text">TODO: Dodaj opis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>