
<modal #modal [title]="title_start_message" [subtitle]="subtitles_start_message[language]"
  [button_text]="button_start_message[language]"></modal>
<!-- <modal_product #modal_product [product_name]="selected_product.names[language]" [product_price]="selected_product.price"
  [product_path_to_image]="selected_product.path_to_image"
  [product_description]="selected_product.descriptions[language]"></modal_product> -->

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    
  </div>
</section>
