<nav class="navbar navbar-main navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img class="img-fluid rounded m-auto" [src]="'assets/logo_mini.webp'" alt="..." />
            SK Brdina
        </a>
        <button #toggler class="navbar-toggler text-uppercase font-weight-bold text-white rounded"
            type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">

                <li *ngIf="userStoritev.language == 0" routerLink="/tecaji"
                    class="nav-item mx-0 mx-lg-1 nav-link py-3 px-0 px-lg-3 rounded" (click) = "close_navbar()">Tečaji</li>
                <li *ngIf="userStoritev.language == 0" routerLink="/tekmovalna"
                    class="nav-item mx-0 mx-lg-1 nav-link py-3 px-0 px-lg-3 rounded" (click) = "close_navbar()">Tekmovalna dejavnost</li>
                <li *ngIf="userStoritev.language == 0" routerLink="/dejavnosti"
                    class="nav-item mx-0 mx-lg-1 nav-link py-3 px-0 px-lg-3 rounded" (click) = "close_navbar()">Dejavnosti</li>
                <!--<li *ngIf="userStoritev.language == 0" routerLink="/about"
                    class="nav-item mx-0 mx-lg-1 nav-link py-3 px-0 px-lg-3 rounded" (click) = "close_navbar()">Kdo smo</li>-->
                <li *ngIf="userStoritev.language == 0" class="nav-item mx-0 mx-lg-1 nav-link py-3 px-0 px-lg-3 rounded"
                    (click)="change_language(1)">ITA
                    🇮🇹</li>
                <li *ngIf="userStoritev.language == 1" routerLink="/tecaji"
                    class="nav-item mx-0 mx-lg-1 nav-link py-3 px-0 px-lg-3 rounded" (click) = "close_navbar()">Corsi</li>
                <li *ngIf="userStoritev.language == 1" routerLink="/tekmovalna"
                    class="nav-item mx-0 mx-lg-1 nav-link py-3 px-0 px-lg-3 rounded" (click) = "close_navbar()">Agonismo</li>
                <li *ngIf="userStoritev.language == 1" routerLink="/dejavnosti"
                    class="nav-item mx-0 mx-lg-1 nav-link py-3 px-0 px-lg-3 rounded" (click) = "close_navbar()">Attività</li>
                <!--<li *ngIf="userStoritev.language == 1" routerLink="/about"
                    class="nav-item mx-0 mx-lg-1 nav-link py-3 px-0 px-lg-3 rounded" (click) = "close_navbar()">Chi siamo</li>-->
                <li *ngIf="userStoritev.language == 1" 
                    class="nav-item mx-0 mx-lg-1 nav-link py-3 px-0 px-lg-3 rounded"
                    (click)="change_language(0)">SLO 🇸🇮
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet style="margin-top: 40px;"></router-outlet>


<footer class="footer text-center">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">{{contact_title[userStoritev.language]}}</h4>
                <p class="lead mb-0">
                    <i class="fa-solid fa-envelope"></i> info@brdina.org
                </p>
                <p class="lead mb-0">
                    <i class="fa-solid fa-phone"></i> +39 342 073 0513
                </p>

            </div>
            
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">{{social_title[userStoritev.language]}}</h4>
                <a class="btn btn-outline-light btn-social mx-1"
                    href="https://www.facebook.com/skbrdina/?ref=page_internal"><i
                        class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/asdskbrdina/"><i
                        class="fab fa-fw fa-instagram"></i></a>
            </div>
            
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">{{opensource_title[userStoritev.language]}}</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/KalcMatej99/SKBrdina"><i
                        class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; SK Brdina 2023</small></div>
</div>